.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-12 {
  margin-top: 12px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-31 {
  margin-top: 31px !important;
}
.mt-32 {
  margin-top: 32px !important;
}
.mt-35 {
  margin-top: 35px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-45 {
  margin-top: 45px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mt-70 {
  margin-top: 70px !important;
}


.mb-2 {
  margin-bottom: 2px !important;
}
.mb-4 {
  margin-bottom: 4px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-8 {
  margin-bottom: 8px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.mb-13 {
  margin-bottom: 13px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.mb-17 {
  margin-bottom: 17px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.mb-28 {
  margin-bottom: 28px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-34 {
  margin-bottom: 34px !important;
}
.mb-32 {
  margin-bottom: 32px !important;
}
.mb-35 {
  margin-bottom: 35px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}

.ml-4 {
  margin-left: 4px !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.ml-8 {
  margin-left: 8px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.ml-17 {
  margin-left: 17px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-25 {
  margin-left: 25px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-40 {
  margin-left: 40px !important;
}
.ml-50 {
  margin-left: 50px !important;
}

.mr-5 {
  margin-right: 5px !important;
}
.mr-8 {
  margin-right: 8px !important;
}
.mr-9 {
  margin-right: 9px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-12 {
  margin-right: 12px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.mr-17 {
  margin-right: 17px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-24 {
  margin-right: 24px !important;
}
.mr-25 {
  margin-right: 25px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.mr-35 {
  margin-right: 35px !important;
}
.mr-40 {
  margin-right: 40px !important;
}
.mr-70 {
  margin-right: 70px !important;
}

.mx-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.mx-8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.mx-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.mx-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mx-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.my-1 {
  margin-top:  1px !important;
  margin-bottom:  1px !important;
}
.my-5 {
  margin-top:  5px !important;
  margin-bottom:  5px !important;
}
.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.my-12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.my-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.my-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.mxc-15 {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.m-15 {
  margin: 15px !important;
}
// Padding
.pt-0 {
  padding-top: 0px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-14 {
  padding-top: 14px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-25 {
  padding-top: 25px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pt-45{
  padding-top: 45px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pt-60 {
  padding-top: 60px !important;
}
.pt-70 {
  padding-top: 70px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}
.pb-6 {
  padding-bottom: 6px !important;
}
.pb-8 {
  padding-bottom: 8px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-12 {
  padding-bottom: 12px !important;
}
.pb-14 {
  padding-bottom: 14px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pb-16 {
  padding-bottom: 16px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-25 {
  padding-bottom: 25px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-35 {
  padding-bottom: 35px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.pb-48 {
  padding-bottom: 48px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.pb-60 {
  padding-bottom: 60px !important;
}
.pb-64 {
  padding-bottom: 64px !important;
}
.pb-95 {
  padding-bottom: 95px;
}
.pl-5 {
  padding-left: 5px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.pl-12 {
  padding-left: 12px !important;
}
.pl-15 {
  padding-left: 15px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pl-24 {
  padding-left: 24px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.pl-35 {
  padding-left: 35px !important;
}
.pl-50 {
  padding-left: 50px !important;
}
.pl-80 {
  padding-left: 80px !important;
}
.pl-100 {
  padding-left: 100px !important;
}
.pl-110{
  padding-left: 110px !important;
}
.pl-120 {
  padding-left: 120px !important;
}
.pl-40{
  padding-left: 40px !important;
}
.pr-5 {
  padding-right: 5px !important;
}
.pr-8 {
  padding-right: 8px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.pr-12 {
  padding-right: 12px !important;
}
.pr-15 {
  padding-right: 15px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.pr-25 {
  padding-right: 25px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.pr-35 {
  padding-right: 35px !important;
}
.pr-50 {
  padding-right: 50px !important;
}

.px-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.px-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.px-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.px-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.px-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.px-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.px-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.px-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.px-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}
.px-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.px-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.px-57 {
  padding-left: 57px !important;
  padding-right: 57px !important;
}
.px-60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}


.py-2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.py-3 {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.py-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.py-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.py-7 {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
.py-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.py-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.py-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.py-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.py-18 {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}
.py-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.py-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.py-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.py-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}
.py-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.py-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.py-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.py-120 {
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}
.p-2 {
  padding: 2px !important;
}
.p-8 {
  padding: 8px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-15 {
  padding: 15px !important;
}
.p-16 {
  padding: 16px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-40 {
  padding: 40px !important;
}
.p-50{
  padding :50px !important;
}
.p-70{
  padding:70px !important;
}

.flex-basis-50{
  flex: 1 0 50% !important;
}
//

@include media-breakpoint-down(md) {
  .mt-xs-8 {
    margin-top: 8px !important;
  }
  .mt-xs-10 {
    margin-top: 10px !important;
  }
  .mt-xs-15 {
    margin-top: 15px !important;
  }
  .mt-xs-20 {
    margin-top: 20px !important;
  }
  .mt-xs-25 {
    margin-top: 25px !important;
  }
  .mt-xs-30 {
    margin-top: 30px !important;
  }
  .mt-xs-0 {
    margin-top: 0px !important;
  }

  .mb-xs-0 {
    margin-bottom: 0 !important;
  }
  .mb-xs-1 {
    margin-bottom: 1px !important;
  }
  .mb-xs-10 {
    margin-bottom: 10px !important;
  }
  .mb-xs-12 {
    margin-bottom: 12px !important;
  }
  .mb-xs-15 {
    margin-bottom: 15px !important;
  }
  .mb-xs-20 {
    margin-bottom: 20px !important;
  }
  .mb-xs-25 {
    margin-bottom: 25px !important;
  }
  .mb-xs-30 {
    margin-bottom: 30px !important;
  }
  .mb-xs-50 {
    margin-bottom: 50px !important;
  }
  .mb-xs-80 {
    margin-bottom: 80px !important;
  }

  .ml-xs-0 {
    margin-left: 0px !important;
  }
  .ml-xs-15 {
    margin-left: 15px !important;
  }
  .ml-xs-20 {
    margin-left: 20px !important;
  }
  .ml-xs-auto {
    margin-left: auto !important;
  }

  .mr-xs-0 {
    margin-right: 0px !important;
  }
  .mr-xs-5 {
    margin-right: 5px !important;
  }
  .mr-xs-10 {
    margin-right: 10px !important;
  }
  .mr-xs-15 {
    margin-right: 15px !important;
  }
  .mr-xs-auto {
    margin-right: auto !important;
  }

  .mx-xs-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .mx-xs-10{
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .mx-xs-15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .mxc-xs-15 {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
  .mx-xs-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .my-xs-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .my-xs-7 {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
  }
  .my-xs-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }

  .m-xs-0 {
    margin: 0px !important;
  }
  .m-xs-8 {
    margin: 8px;
  }

  // padding
  .pt-xs-0 {
    padding-top: 0px !important;
  }
  .pt-xs-10 {
    padding-top: 10px !important;
  }
  .pt-xs-15 {
    padding-top: 15px !important;
  }
  .pt-xs-20 {
    padding-top: 20px !important;
  }
  .pt-xs-25 {
    padding-top: 25px !important;
  }
  .pt-xs-30 {
    padding-top: 30px !important;
  }
  .pt-xs-40 {
    padding-top: 40px !important;
  }
  .pt-xs-50 {
    padding-top: 50px !important;
  }

  .pb-xs-0 {
    padding-bottom: 0px !important;
  }
  .pb-xs-10 {
    padding-bottom: 10px !important;
  }
  .pb-xs-15 {
    padding-bottom: 15px !important;
  }
  .pb-xs-20 {
    padding-bottom: 20px !important;
  }
  .pb-xs-25 {
    padding-bottom: 25px !important;
  }
  .pb-xs-30 {
    padding-bottom: 30px !important;
  }
  .pb-xs-40 {
    padding-bottom: 40px !important;
  }
  .pb-xs-50 {
    padding-bottom: 50px !important;
  }
  .pb-xs-60 {
    padding-bottom: 60px !important;
  }
  .pb-xs-70 {
    padding-bottom: 70px !important;
  }

  .pl-xs-0 {
    padding-left: 0px !important;
  }
  .pl-xs-5 {
    padding-left: 5px !important;
  }
  .pl-xs-10 {
    padding-left: 10px !important;
  }
  .pl-xs-12 {
    padding-left: 12px !important;
  }
  .pl-xs-15 {
    padding-left: 15px !important;
  }
  .pl-xs-100 {
    padding-left: 100px !important;
  }
  .pl-xs-40{
    padding-left: 40px !important;
  }

  .pr-xs-0 {
    padding-right: 0 !important;
  }
  .pr-xs-10 {
    padding-right: 10px !important;
  }
  .pr-xs-12 {
    padding-right: 12px !important;
  }
  .pr-xs-15 {
    padding-right: 15px !important;
  }

  .px-xs-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .px-xs-5{
    padding-right:5px !important;
    padding-left: 5px!important;
  }
  .px-xs-8{
    padding-right:8px !important;
    padding-left: 8px!important;
  }
  .px-xs-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .px-xs-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .px-xs-20 {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .px-xs-25 {
    padding-right: 25px !important;
    padding-left: 25px !important;
  }
  .px-xs-30 {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }

  .py-xs-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .py-xs-7 {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }
  .py-xs-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .py-xs-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .py-xs-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .py-xs-25 {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }
  .py-xs-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .py-xs-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .p-xs-0 {
    padding: 0 !important;
  }
  .p-xs-5 {
    padding: 5px !important;
  }
  .p-xs-10 {
    padding: 10px !important;
  }
  .p-xs-20 {
    padding: 20px !important;
  }

}
@include media-breakpoint-up(lg) {
  .mt-lg-10 {
    margin-top: 10px !important;
  }
  .mt-lg-12 {
    margin-top: 12px !important;
  }
  .mt-lg-15 {
    margin-top: 15px !important;
  }
  .mt-lg-20 {
    margin-top: 20px !important;
  }
  .mt-lg-25 {
    margin-top: 25px !important;
  }
  .mt-lg-30 {
    margin-top: 30px !important;
  }
  .mt-lg-40 {
    margin-top: 40px !important;
  }
  .mt-lg-50 {
    margin-top: 50px !important;
  }
  .mt-lg-60 {
    margin-top: 60px !important;
  }
  .mt-lg-0 {
    margin-top: 0px !important;
  }
  .mt-lg-120{
    margin-top: 120px !important;
  }
  .mb-lg-0 {
    margin-bottom: 0 !important;
  }
  .mb-lg-10 {
    margin-bottom: 10px !important;
  }
  .mb-lg-12 {
    margin-bottom: 12px !important;
  }
  .mb-lg-15 {
    margin-bottom: 15px !important;
  }
  .mb-lg-20 {
    margin-bottom: 20px !important;
  }
  .mb-lg-25 {
    margin-bottom: 25px !important;
  }
  .mb-lg-30 {
    margin-bottom: 30px !important;
  }
  .mb-lg-35 {
    margin-bottom: 35px !important;
  }
  .mb-lg-40 {
    margin-bottom: 40px !important;
  }

  .ml-lg-10 {
    margin-left: 10px !important;
  }
  .ml-lg-20 {
    margin-left: 20px !important;
  }
  .ml-lg-30 {
    margin-left: 30px !important;
  }
  .ml-lg-35 {
    margin-left: 35px !important;
  }
  .ml-lg-40 {
    margin-left: 40px !important;
  }
  .ml-lg-45 {
    margin-left: 45px !important;
  }
  .ml-lg-auto {
    margin-left: auto !important;
  }
  .ml-lg-0 {
    margin-left: 0 !important;
  }
  .mr-lg-250 {
    margin-right: 250px !important;
  }
  .mr-lg-20 {
    margin-right: 20px !important;
  }
  .mr-lg-25 {
    margin-right: 25px !important;
  }
  .mr-lg-10 {
    margin-right: 10px !important;
  }
  .mr-lg-5 {
    margin-right: 5px !important;
  }
  .mr-lg-0 {
    margin-right: 0px !important;
  }
  .mr-lg-auto {
    margin-right: auto !important;
  }
  .mr-lg-15 {
    margin-right: 15px !important;
  }
  .mr-lg-30 {
    margin-right: 30px !important;
  }
  .my-lg-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .my-lg-12 {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
  }
  .my-lg-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
  .my-lg-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .pt-lg-12 {
    padding-top: 12px !important;
  }
  .pt-lg-20 {
    padding-top: 20px !important;
  }
  .pt-lg-30 {
    padding-top: 30px !important;
  }
  .pt-lg-40 {
    padding-top: 40px !important;
  }
  .pt-lg-50 {
    padding-top: 50px !important;
  }
  .pt-lg-60 {
    padding-top: 60px !important;
  }
  .pt-lg-120{
    padding-top: 120px !important;
  }
  .pb-lg-20 {
    padding-bottom: 20px !important;
  }
  .pb-lg-30 {
    padding-bottom: 30px !important;
  }
  .pb-lg-40 {
    padding-bottom: 40px !important;
  }
  .pb-lg-50 {
    padding-bottom: 50px !important;
  }
  .pb-lg-60 {
    padding-bottom: 60px !important;
  }
  .pb-lg-85 {
    padding-bottom: 85px !important;
  }

  .pl-lg-0 {
    padding-left: 0px !important;
  }
  .pl-lg-10 {
    padding-left: 10px !important;
  }
  .pl-lg-12 {
    padding-left: 12px !important;
  }
  .pl-lg-15 {
    padding-left: 15px !important;
  }
  .pl-lg-20 {
    padding-left: 20px !important;
  }
  .pl-lg-30 {
    padding-left: 30px;
  }
  .pl-lg-120 {
    padding-left: 120px !important;
  }

  .pr-lg-10 {
    padding-right: 10px !important;
  }
  .pr-lg-12 {
    padding-right: 12px !important;
  }
  .pr-lg-15 {
    padding-right: 15px !important;
  }
  .pr-lg-70 {
    padding-right: 70px !important;
  }

  .px-lg-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .px-lg-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .px-lg-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .px-lg-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .px-lg-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .px-lg-40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .px-lg-50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .px-lg-90 {
    padding-left: 90px !important;
    padding-right: 90px !important;
  }

  .py-lg-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .py-lg-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .py-lg-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .py-lg-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .py-lg-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .py-lg-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }

  .p-lg-0 {
    padding: 0 !important;
  }
  .p-lg-20 {
    padding: 20px !important;
  }
}

.padding-block{
  padding: 40px 0;
}

.padding-top40{
  padding-top: 40px !important;
}
.padding-top20{
  padding-top: 20px !important;
}
.margin-top15{
  margin-top: 15px !important;
}

.mg {
  margin: auto;
}
.mg-10 {
  margin: 10px !important;
}
.mg-20 {
  margin: 20px !important;
}
.mg-30 {
  margin: 30px !important;
}
.mg-40 {
  margin: 40px !important;
}