.img-absolute img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner {
    position: relative;
    min-height: 384px;
    @include media-breakpoint-down(md){
         /*min-height: 750px;*/
      }
    .img-absolute {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        @include media-breakpoint-down(md){
            top:50%;
            left: 0%;
            width: 100%;
            height: 50%;

      }
    }
    .col-md-6 {
        position: unset;
    }
    .bg-red {
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        width: 50%;
        background: linear-gradient(160.41deg, #FF6A00 14.02%, #EE0979 144.58%);
        padding: 124px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .allow-heading-white {
            color: #fff;
            font-size: 24px;
            @include media-breakpoint-down(md){
             font-size: 16px;
             text-align: center;
            }
        }
      @include media-breakpoint-down(md){
            top:0%;
            width: 100%;
            height: 50%;
            padding: 32px 40px;
      }
    }
}